$border-radius: 10px;

@mixin flex-spb {
    display: flex;
    justify-content: space-between;
}
@mixin flex-spbc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//文字只显示1行
@mixin text-line1 {
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
//文字只显示2行
@mixin text-line2 {
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

//文字只显示3行
@mixin text-line3 {
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
